.container.large {
  width: 95%;
}

#octosplit {
  margin-left: 5px;
}

#octosplit-label {
  margin-left: 15px;
}

.new-number {
  border-left: 1px solid #ddd;
}

.inline-comments .comment-holder,
.inline-comment-form {
  max-width: none !important;
}
