.new-number {
  border-left: 1px solid #ddd;
}

.inline-comments .comment-holder,
.inline-comment-form {
  max-width: none !important;
}

#files_bucket {
    position: absolute;
    width: 96%;
    left: 2%;
}

#files_bucket #files .file .data .diff-line {
    width: auto;
}