.toc-diff-stats label.octosplit-label .octicon {
  float: none;
  margin-left: 0px;
  margin-right: 3px;
}

.word-wrap .diff-line-code {
  white-space: normal;
}

.container.large {
  width: 98%;
}

.container.large .repository-content {
  width: 95%
}

/* old repository version */
.container.large {
  width: 95%;
}

.octosplit-checkbox {
  margin-left: 5px;
}

.octosplit-label {
  margin-left: 15px;
}

.new-number {
  border-left: 1px solid #ddd;
}

.diff-line-code.nd {
  background-color: #e5e5e5;
}

.diff-line-num-deletion.nd,
.diff-line-code-deletion.nd {
  background-color: white;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
}

.diff-line-num-addition.nd,
.diff-line-code-addition.nd {
  background-color: white;
  border-right: 1px solid #e5e5e5;
}

.diff-line-code + .diff-line-num {
  border-left: 1px solid #e5e5e5;
}
