.toc-diff-stats label.octosplit-label .octicon {
  float: none;
  margin-left: 0px;
  margin-right: 3px;
}

.word-wrap .blob-code {
  white-space: normal;
}

.container.large {
  width: 98%;
}

.container.large .repository-content {
  width: 95%
}

/* old repository version */
.container.large {
  width: 95%;
}

.octosplit-checkbox {
  margin-left: 5px;
}

.octosplit-label {
  margin-left: 15px;
}

.new-number {
  border-left: 1px solid #ddd;
}

.blob-code.nd {
  background-color: #e5e5e5;
}

.blob-num-deletion.nd,
.blob-code-deletion.nd {
  background-color: white;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
}

.blob-num-addition.nd,
.blob-code-addition.nd {
  background-color: white;
  border-right: 1px solid #e5e5e5;
}

.blob-code + .blob-num {
  border-left: 1px solid #e5e5e5;
}
